/* src/Footer.css */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #696969;
  color: white;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 100px;
  height: auto;
}

.copyright {
  margin-top: 10px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin: 5px 0;
  cursor: pointer;
}

.footer-links li:hover {
  text-decoration: underline;
}

.contact-info {
  margin-top: 20px;
  text-align: right;
}

.contact-info p {
  margin: 5px 0;
}
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 50px; /* Thay đổi kích thước logo ở đây */
  height: auto; /* Đảm bảo tỷ lệ của logo không bị biến dạng */
  margin-top: 55px;
}

.copyright {
  margin-top: 0px;
}
